<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spring boot 登录系统</title>
</head>
<body>
<h1>登录系统</h1>
<form action="loginPage" method="post">
    <table>
        <tr>
            <td>用户名称：</td>
            <td><input type="text" name="name" ></input></td>
        </tr>
        <tr>
            <td>用户密码：</td>
            <td><input type="password" name="password" ></td>
        </tr>
        <tr>
            <td><div class="buttons">
                <input type="submit" id="User_select_action_0" value="登录"/>
            </div></td>
        </tr>
    </table>
</form>

</body>
</html>